<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>Preskool - Subjects</title>
 <link rel="stylesheet" th:href="@{/assets/plugins/datatables/datatables.min.css}">
 <link rel="shortcut icon" th:href="@{/resources/img/favicon.png}">
 <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
 <link th:href="@{/resources/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
 <link th:href="@{/resources/plugins/feather/feather.css}" rel="stylesheet">
 <link th:href="@{/resources/plugins/icons/flags/flags.css}" rel="stylesheet">
 <link th:href="@{/resources/plugins/fontawesome/css/fontawesome.min.css}" rel="stylesheet">
 <link th:href="@{/resources/plugins/fontawesome/css/all.min.css}" rel="stylesheet">
 <link th:href="@{/resources/css/style.css}" rel="stylesheet">
</head>
<body>

<div class="main-wrapper">

 <div th:replace="/admin/fragmento :: header"></div>
 <div th:replace="/admin/fragmento :: sidebar"></div>


<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Subjects</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
<li class="breadcrumb-item active">Subjects</li>
</ul>
</div>
</div>
</div>

<div class="student-group-form">
<div class="row">
<div class="col-lg-3 col-md-6">
<div class="form-group">
<input type="text" class="form-control" placeholder="Search by ID ...">
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="form-group">
<input type="text" class="form-control" placeholder="Search by Name ...">
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="form-group">
<input type="text" class="form-control" placeholder="Search by Class ...">
</div>
</div>
<div class="col-lg-2">
<div class="search-student-btn">
<button type="btn" class="btn btn-primary">Search</button>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<div class="card card-table">
<div class="card-body">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Subjects</h3>
</div>
<div class="col-auto text-end float-end ms-auto download-grp">
<a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a>
<a th:href="@{/admin/elementsadd}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
</div>
</div>
</div>

 <div class="table-responsive">
  <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
   <thead class="student-thread">
   <tr>
    <th>
     <div class="form-check check-tables">
      <input class="form-check-input" type="checkbox" value="something">
     </div>
    </th>
    <th>ID</th>
    <th>Titre</th>
    <th>Enseignant</th>
    <th>Coordinateur</th>
    <th>Type</th>
    <th>Niveau</th>
    <th class="text-end">Action</th>
   </tr>
   </thead>
   <tbody>
   <tr th:each="element : ${elements}">
    <td>
     <div class="form-check check-tables">
      <input class="form-check-input" type="checkbox" value="something">
     </div>
    </td>
    <td th:text="${element.idEP}">ID</td>
    <td>
     <h2>
      <a th:text="${element.titre}">Titre</a>
     </h2>
    </td>
    <td th:text="${element.enseignant.nom} + ' ' + ${element.enseignant.prenom}">Enseignant</td>
    <td th:text="${element.coordinateur.nom} + ' ' + ${element.coordinateur.prenom}">Coordinateur</td>
    <td th:text="${element.type.titre}">Type</td>
    <td th:text="${element.niveau.titre}">Niveau</td>
    <td class="text-end">
     <div class="actions">
      <a th:href="@{/admin/deleteElement/{id}(id=${element.idEP})}" class="btn btn-sm bg-success-light me-2">
       <i class="feather-trash-2"></i>
      </a>


      <a th:href="@{/admin/elementedit/{id}(id=${element.idEP})}" class="btn btn-sm bg-danger-light">
       <i class="feather-edit"></i>
      </a>
     </div>
    </td>
   </tr>
   </tbody>
  </table>
 </div>
</div>
</div>
</div>
</div>

 <div th:replace="/admin/fragmento :: footer"></div>

</div>

</div>

</div>



 <script th:src="@{/resources/js/jquery-3.6.0.min.js}"></script>
 <script th:src="@{/resources/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
 <script th:src="@{/resources/js/feather.min.js}"></script>
 <script th:src="@{/resources/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
 <script th:src="@{/resources/plugins/apexchart/apexcharts.min.js}"></script>
 <script th:src="@{/resources/plugins/apexchart/chart-data.js}"></script>
 <script th:src="@{/resources/js/script.js}"></script>
<script th:src="@{/assets/plugins/datatables/datatables.min.js}"></script>
</body>
</html>